<div>
    <img src="./assets/verde.webp" class="img-responsive" alt="fondo verde" id="verde" />
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="./assets/gimenez.png" class="img-fluid" alt="foto Gimenez" id="gim">
</div>
<div class="row">
    <div>
        <h1>Walter Rafael Gimenez</h1>
      </div>
      <div class="col-9">
          <h5>Full Stack Developer Jr.<br>Estudiante de Ingeniería en Informática</h5>
      </div>
      <div class="col-3">
          <a href="https://www.argentina.gob.ar/inti" target="_blank">
            <img src="./assets/desarrollo.png" class="img-responsive" alt="logo Desarrollo" id="desa">
          </a>
            
          <a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-informatica/" target="_blank">
            <img src="./assets/logoUnaj.png" class="img-responsive" alt="logo UNAJ" id="lunaj">
          </a>    
      </div>
      <div>
        <h3>Acerca de</h3>
        <p class="acerca">
          Full Stack Developer Jr. mediante Argentina Programa del Ministerio de Desarrollo Productivo<br>
          Estudiante de Ingeniería, 2º año de la carrera de Informática UNAJ(Universidad Nacional Arturo Jauretche)
        </p>
      </div>
</div>
