<app-header></app-header>
<app-about></app-about>



<div class="row">
  
    
 
  <div>
  <h1>Educación</h1> 
  </div>
  <div class="card">
    <div class="card-horizontal">
      <div class="img-square-wrapper">
        <a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-informatica/" target="_blank"><img src="./assets/logoUnaj.png" alt="logo UNAJ" id="lunaj"></a>
      </div>
                
      <div class="card-body">
      <h2 id="h2edu">Universidad Nacional Arturo Jauretche 2015/Actualidad</h2>
      <p class="card-text">• Ingeniería en Informática, 2º Año</p>
         </div>
        </div>
  </div>
  <div>
    <h1>Experiencia Profesional</h1>
  </div>
     
  <div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
              <a href="https://www.unaj.edu.ar/" target="_blank"><img src="./assets/logoUnaj.png" alt="logo UNAJ" id="lunaj"></a>
        </div>
       <div class="card-body">
              <h4 class="card-title" id="h4edu">Universidad Nacional Arturo Jauretche <h3 id="h3edu">2017/2020</h3></h4>
              <h5>Supervisor del Centro de Copiado</h5>
              <p class="card-text">• Supervisión de equipo • Atención al Público • Cierre de Caja • Control de Stock</p>
          </div>
      
    </div>
  </div>
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
                <a href="https://guiadetarjetas.com/argentina/tarjeta-shopping/" target="_blank"><img src="./assets/ts.png"  alt="logo Tarjeta Shopping" id="lts"></a>
          </div>
          <div class="card-body">
                <h4 class="card-title" id="h4edu">Tarshop S.A<h3 id="h3edu">2006/2012</h3></h4>
                <h5>Representante de Atención al Cliente</h5>
                <p class="card-text">• Venta de Intangibles • Resolución de problemas de clientes • Suplencias de Supervisión • Gestión de Cobranzas</p>
          </div>       
          <br>
            
        </div>
  </div>
  <div>
    <h1>Hard & Soft Skills</h1>
  </div> 
  <div class="col-md-10">            
    <div class="rating-progress-bars p-2">
      
        <div class="progress-1 align-items-center">
            <p>Comunicación</p> 
            <div class="progress">
              
              <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>

            <P>Reponsabilidad</P>
            <div class="progress">
              
              <div class="progress-bar bg-custom" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>

            <p>Trabajo de equipo</p>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>

            </div>

            <p>Angular - JS- Spring Boot - MySQL</p>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>

        </div>
    </div>   
  </div>
  
  <div>
    <h1>Proyectos</h1>
  </div>
  <div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
          <a href="https://github.com/WalterGimenez/calculadoraApp" target="_blank"><img src="./assets/calcu.png" alt="foto calculadora" id="calcu"></a>
        </div>
       <div class="card-body">
              <h3 class="card-title" id="h4edu">Mini Calculadora</h3>
              
              <p class="card-text">Calculadora simple de suma y resta hecha con Angular</p>
              
       </div>
       
    </div>
  </div>
</div>

