<div class="row">
    <div>
        <h1>Educación</h1> 
        </div>
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-informatica/" target="_blank"><img src="./assets/logoUnaj.png" alt="logo UNAJ" id="lunaj"></a>
            </div>
                      
            <div class="card-body">
            <h2 id="h2edu">Universidad Nacional Arturo Jauretche 2015/Actualidad</h2>
            <p class="card-text">• Ingeniería en Informática, 2º Año</p>
               </div>
              </div>
    </div>
</div>
