<div class="container">
    <div class="row" id="pe">
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="./assets/error.png" class="img-fluid" alt="logo error">
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
            <h4>Página no encontrada</h4>
        <div>
            <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
            <h4>Probablemente estoy trabajando en ello...</h4>
        <div>   
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="/">
                <app-button text="Regresar"></app-button>
            </a>        
        </div>
    </div>
</div>
 