<div class="row">
    <div>
        <h1>Experiencia Profesional</h1>
      </div>
         
      <div class="card">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                  <a href="https://www.unaj.edu.ar/" target="_blank"><img src="./assets/logoUnaj.png" alt="logo UNAJ" id="lunaj"></a>
            </div>
           <div class="card-body">
                  <h4 class="card-title" id="h4edu">Universidad Nacional Arturo Jauretche <h3 id="h3edu">2017/2020</h3></h4>
                  <h5>Supervisor del Centro de Copiado</h5>
                  <p class="card-text">• Supervisión de equipo • Atención al Público • Cierre de Caja • Control de Stock</p>
              </div>
          
        </div>
      </div>
          <div class="card">
            <div class="card-horizontal">
              <div class="img-square-wrapper">
                    <a href="https://guiadetarjetas.com/argentina/tarjeta-shopping/" target="_blank"><img src="./assets/ts.png"  alt="logo Tarjeta Shopping" id="lts"></a>
              </div>
              <div class="card-body">
                    <h4 class="card-title" id="h4edu">Tarshop S.A<h3 id="h3edu">2006/2012</h3></h4>
                    <h5>Representante de Atención al Cliente</h5>
                    <p class="card-text">• Venta de Intangibles • Resolución de problemas de clientes • Suplencias de Supervisión • Gestión de Cobranzas</p>
              </div>       
              <br>
                
            </div>
      </div>
</div>
