<div class="row">
    <div>
        <h1>Proyectos</h1>
      </div>
      <div class="card">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
              <a href="https://github.com/WalterGimenez/calculadoraApp" target="_blank"><img src="./assets/calcu.png" alt="foto calculadora" id="calcu"></a>
            </div>
           <div class="card-body">
                  <h3 class="card-title" id="h4edu">Mini Calculadora</h3>
                  
                  <p class="card-text">Calculadora simple de suma y resta hecha con Angular</p>
                  
           </div>
           
        </div>
      </div>
</div>
